<span id="failure-msg"></span>

<form action="" method="post">
	<div>
	<label>Email:</label>
	<input type="text" name="email" value=""/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="pwd" value=""/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>